In [73]:
import pandas as pd

LAB 3.1. KHÁM PHÁ DỮ LIỆU

1. Đọc file

In [74]:
path_stocks1 = 'D:\\Năm 2 (2024 - 20250\\Python nâng cao\\Bài tập\\LAB 3\\DATA\\stocks1.csv'
stocks1_df = pd.read_csv(path_stocks1)

2. Hiển thị 5 dòng đầu tiên

In [75]:
print("5 dòng đầu tiên của DataFrame stocks1_df:")
print(stocks1_df.head())

5 dòng đầu tiên của DataFrame stocks1_df:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột

In [76]:
print("Kiểu dữ liệu của mỗi cột trong stocks1_df:")
print(stocks1_df.dtypes)

Kiểu dữ liệu của mỗi cột trong stocks1_df:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

4. Xem thông tin tổng quan (info) của stocks1_df

In [77]:
print("Thông tin tổng quan của stocks1_df:")
stocks1_df.info()

Thông tin tổng quan của stocks1_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes

In [78]:
#Sử dụng hàm describe(), để thống kê dữ liệu cả dạng số và chuỗi
stocks1_df.describe(include='all')

,date,symbol,open,high,low,close,volume
count,15,15,15.000000,13.000000,13.000000,15.000000,1.500000e+01
unique,5,3,NaN,NaN,NaN,NaN,NaN
top,01-03-19,AMZN,NaN,NaN,NaN,NaN,NaN
freq,3,5,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,1001.402000,943.511538,926.775385,998.705333,9.936580e+06
std,NaN,NaN,645.683362,668.389987,655.705275,642.198730,1.036832e+07
min,NaN,NaN,173.870000,174.440000,172.020000,172.500000,1.099289e+06
25%,NaN,NaN,175.815000,176.000000,173.970000,175.690000,1.448182e+06
50%,NaN,NaN,1150.060000,1156.760000,1130.690000,1147.800000,4.957017e+06
75%,NaN,NaN,1661.250000,1669.750000,1620.510000,1647.450000,2.027390e+07
max,NaN,NaN,1702.950000,1709.430000,1689.010000,1696.170000,2.743620e+07

- unique: số giá trị khác nhau
- top: giá trị xuất hiện nhiều nhất (top)
- freq: tần suất của giá trị đó

LAB 3.2. XỬ LÝ DỮ LIỆU NULL

1. Kiểm tra xem trong stocks 1 có dữ liệu Null nào không

In [79]:
print("Kiểm tra dữ liệu Null trong stocks1_df:")
kt_null = stocks1_df.isnull().sum()
print(kt_null)

Kiểm tra dữ liệu Null trong stocks1_df:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

2. Thay thế dữ liệu Null ở cột higt bằng giá trị trung bình của cột high

In [80]:
tb_high = stocks1_df['high'].mean()
stocks1_df['high'].fillna(tb_high, inplace=True)

D:\TEMP\ipykernel_11272\1009930299.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1_df['high'].fillna(tb_high, inplace=True)

In [81]:
#Hiển thị DataFrame sau khi thay thế dữ liệu Null ở cột high
print("DataFrame stocks1_df sau khi thay thế dữ liệu Null ở cột high:")
print(stocks1_df.head())

DataFrame stocks1_df sau khi thay thế dữ liệu Null ở cột high:
       date symbol     open         high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.260000  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.51  1625.95  4957017

3. Thay thế dữ liệu Null ở cột low bằng giá trị trung bình của cột low

In [82]:
tb_low = stocks1_df['low'].mean()
stocks1_df['low'].fillna(tb_low, inplace=True)

D:\TEMP\ipykernel_11272\3884082070.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1_df['low'].fillna(tb_low, inplace=True)

In [83]:
#kiểm tra lại DataFrame sau khi xử lý Null
print("Kiểm tra lại dữ liệu Null sau khi xử lý:")
after_kl_null = stocks1_df['low'].isnull().sum()
print(after_kl_null)

Kiểm tra lại dữ liệu Null sau khi xử lý:
0

In [84]:
#Kiểm tra lại DataFrame sau khi xử lý Null
print("Kiểm tra lại dữ liệu Null sau khi xử lý:")
after_kl_null = stocks1_df.isnull().sum()
print(after_kl_null)

Kiểm tra lại dữ liệu Null sau khi xử lý:
date      0
symbol    0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

LAB 3.3. GỘP DỮ LIỆU VÀ PHÂN TÍCH CƠ BẢN

1. Đọc file

In [85]:
path_stocks2 = "D:\\Năm 2 (2024 - 20250\\Python nâng cao\\Bài tập\\LAB 3\\DATA\\stocks2.csv"
stocks2_df = pd.read_csv(path_stocks2)

2. Gộp stocks1 và stocks2 thành DataFrame tên là stocks

In [86]:
#Sử dụng phương thức concat() để gộp dữ liệu
#ignore_index=True. khi đặt là True, nó sẽ tạo ra một index mới,
#Tạo lại từ đầu cho DataFrame kết quả từ 0 đến n - 1 (với n là tổng
#số hàng trong DataFrame kết quả).
stocks_df = pd.concat([stocks1_df, stocks2_df], ignore_index=True)

#Hiển thị DataFrame sau khi gộp
print("DataFrame sau khi gộp stocks1_df và stocks2_df:")
print(stocks_df.head())
print("Thông tin tổng quan của DataFrame stocks_df sau khi gộp:")
stocks_df.info()

DataFrame sau khi gộp stocks1_df và stocks2_df:
       date symbol     open         high          low    close   volume
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017
Thông tin tổng quan của DataFrame stocks_df sau khi gộp:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    25 non-null     object
 1   symbol  25 non-null     object
 2   open    25 non-null     float64
 3   high    25 non-null     float64
 4   low     25 non-null     float64
 5   close   25 non-null     float64
 6   volume  25 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 1.5+ KB

3. Tính giá trung bình (open, high, low, close) cho mỗi ngày

In [87]:
gia_tb_per_day = stocks_df.groupby('date')[['open', 'high', 'low', 'close']].mean()

#Hiển thi 5 dòng đầu tiên của kết quả
print("giá trung bình (open, high, low, close) cho mỗi ngày:")
print(gia_tb_per_day.head())

giá trung bình (open, high, low, close) cho mỗi ngày:
             open        high         low    close
date
01-03-19  684.770  692.528400  680.446000  688.952
04-03-19  693.940  702.392000  685.126000  694.510
05-03-19  695.664  656.638308  645.395077  695.558
06-03-19  696.502  548.329468  540.373077  690.016
07-03-19  689.460  691.478000  673.860000  677.494

LAB 3.4. KẾT HỢP DỮ LIỆU TỪ NHIỀU NGUỒN

In [88]:
path_companies = 'D:\\Năm 2 (2024 - 20250\\Python nâng cao\\Bài tập\\LAB 3\\DATA\\companies.csv'
companies_df = pd.read_csv(path_companies)

1. Hiển thị 5 dòng đầu của companies

In [89]:
print("5 dòng đầu tiên của companies:")
print(companies_df.head())

5 dòng đầu tiên của companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

2. Kết hợp stocks và companies dựa trên cột chung là symbol